@model Yipa.Entities.Concrete.Blog
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container" style="margin-top:150px">
    <div class="row">
        <div class="blog-details text-center p-3">
            <h2 class="about-title" style="font-size:50px">@Model.Title</h2>
            <p class="text">@Model.PublicDate</p>
        </div>

        <div class="blog-content w-75 m-auto p-5">
            <p class="about-text">@Model.Content</p>
        </div>
        <div class="author-details">
            <img src="" alt="Blog Yazar Detay" />
            <p class="text" style="font-size:20px">@Model.UserId</p>
            <p class="haeder-text">Editör</p>
        </div>
    </div>
</div>



@Html.Partial("~/Views/Blog/LatesBlog.cshtml")
